@model Vidly.Models.Movie
@{
    ViewBag.Title = "GetMoviesById";
}
<h1>@Model.Name</h1>
@if (@Model != null)
{
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Movie Name
                </th>
                <th>
                    Genre Name
                </th>
                <th>
                    Release Date
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Number Of Stocks
                </th>
            </tr>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Genre.Name
                </td>
                <td>
                    @Model.ReleaseDate.ToShortDateString() 
                </td>
                <td>
                    @Model.DateAdded.ToShortDateString()
                </td>
                <td>
                    @Model.NumberOfStocks
                </td>
            </tr>
        </table>
    </div>
}
